<div class="card">
  <div class="card-header row">
  	<div class="col">
      <a href="#" class="card-link text-left">Edit</a>
    </div>
    <div class="col">
      <p class="card-text text-center">Alarm</p>
    </div>
    <div class="col">
      <a href="#" class="card-link text-right">Add</a>
    </div>
  </div>
  <div class="card-body">
    <a class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="alarms in alarmList" ng-click="editThis($index)">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{alarms.selectedHr}} : {{alarms.selectedMin}} {{alarms.selectedAMPM}}</h5>
        <small><input type="checkbox" ng-model="alarms.enabled" value="{{alarms.enabled}}"></small>
      </div>
      <small>{{alarms.selectedDays}}</small>
    </a>
  </div>
  <div class="card-footer">
    <a href="#" class="card-link align-left">Clock</a>
  </div>
</div>